# import library

In [2]:
import datetime as dt
import pandas as pd
import requests

# 1. Wiki Pedia 데이터 추출

In [ ]:
# 봇 방지용 헤더
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

wiki_response = requests.get(url, headers=headers)

if wiki_response.status_code == 200:
    wiki_data = pd.read_html(wiki_response.text)
    print(f"We have a {type(wiki_data)} with length {len(wiki_data)}.")
    print(wiki_data)
else:
    print(f"Error: {wiki_response.status_code}")

In [8]:
wiki_data[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [10]:
wiki_data[0].head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [9]:
wiki_data[1].head()

              Date  Added                      Removed  \
              Date Ticker             Security  Ticker
0  August 28, 2025   IBKR  Interactive Brokers     WBA
1    July 23, 2025    XYZ          Block, Inc.     HES
2    July 18, 2025    TTD     Trade Desk (The)    ANSS
3     July 9, 2025   DDOG              Datadog    JNPR
4     May 19, 2025   COIN             Coinbase     DFS

                                                                        Reason
                   Security                                             Reason
0  Walgreens Boots Alliance  Sycamore Partners acquired Walgreen Boots Alli...
1          Hess Corporation  S&P 500 and S&P 100 constituent Chevron Corp. ...
2                     Ansys  S&P 500 constituent Synopsys Inc. acquired Ans...
3          Juniper Networks  S&P 500 constituent Hewlett Packard Enterprise...
4        Discover Financial  S&P 500 constituent Capital One Financial Corp...

# 2. 현재 S&P 500 종목

- Symbol : ticker
- Security : 종목명
- GICS Sector : 섹터
- GICS Sub-Industry : 하위 섹터
- Headquarters Location
- Date added
- CIK : 고유 식별 번호
- Founded

GICS는 11개의 주요 섹터로 구성되어 있습니다.

에너지 (Energy)

소재 (Materials)

산업재 (Industrials)

경기소비재 (Consumer Discretionary)

필수소비재 (Consumer Staples)

헬스케어 (Health Care)

금융 (Financials)

정보기술 (Information Technology)

통신서비스 (Communication Services)

유틸리티 (Utilities)

부동산 (Real Estate)

In [15]:
old_cols = list(wiki_data[0].columns)
new_cols = ['ticker', 'security', 'gics_sector', 'gics_sub_industry', 'headquarters_location', 'date_added', 'cik', 'founded']

print(old_cols)
print(new_cols)

['Symbol', 'Security', 'GICS Sector', 'GICS Sub-Industry', 'Headquarters Location', 'Date added', 'CIK', 'Founded']
['ticker', 'security', 'gics_sector', 'gics_sub_industry', 'headquarters_location', 'date_added', 'cik', 'founded']

In [16]:
wiki_data[0].columns = new_cols
wiki_data[0].head()

,ticker,security,gics_sector,gics_sub_industry,headquarters_location,date_added,cik,founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [23]:
sp500_current = wiki_data[0].copy()
sp500_current.loc[:, 'cik'] = sp500_current['cik'].apply(str).str.zfill(10)
sp500_current.head()

C:\Users\fzaca\AppData\Local\Temp\ipykernel_15340\1434225090.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['0000066740' '0000091142' '0000001800' '0001551152' '0001467373'
 '0000796343' '0000002488' '0000874761' '0000004977' '0001090872'
 '0000002969' '0001559720' '0001086222' '0000915913' '0001035443'
 '0001097149' '0001579241' '0000352541' '0000899051' '0001652044'
 '0001652044' '0000764180' '0001018724' '0001748790' '0001002910'
 '0000004904' '0000004962' '0000005272' '0001053507' '0001410636'
 '0000820027' '0001037868' '0000318154' '0000820313' '0000006281'
 '0000315293' '0001841666' '0001858681' '0000320193' '0000006951'
 '0001521332' '0000947484' '0000007084' '0001596532' '0000354190'
 '0001267238' '0000732717' '0000731802' '0000769397' '0000008670'
 '0000866787' '0000915912' '0000008818' '0001069183' '0001701605'
 '0000009389' '0000070858' '0000010456' '0000010795' '0001067983'
 '0000764478' '0000842023' '0000875045' '0002012383' '0001393818'
 '0001512673' '0001390777' '0000012927' '0001075531' '0000885725'
 '0000014272' '0001730168' '0001383312' '0000079282' '0000014693'
 '0001316835' '0001996862' '0001037540' '0001043277' '0000813672'
 '0001590895' '0000906345' '0000016732' '0000927628' '0000721371'
 '0001170010' '0000815097' '0001783180' '0000018230' '0001374310'
 '0001138118' '0001402057' '0001140859' '0001071739' '0001130310'
 '0001324404' '0001100682' '0000316709' '0001091667' '0000093410'
 '0001058090' '0000896159' '0000313927' '0001739940' '0000020286'
 '0000723254' '0000858877' '0000831001' '0000759944' '0000021076'
 '0001156375' '0000811156' '0000021344' '0001058290' '0001679788'
 '0000021665' '0001166691' '0000023217' '0001163165' '0001047862'
 '0000016918' '0001868275' '0000711404' '0000900075' '0000024741'
 '0001175454' '0001755672' '0001057352' '0000909832' '0000858470'
 '0001535527' '0001051470' '0000277948' '0000026172' '0000064803'
 '0000313616' '0000940944' '0001561550' '0000927066' '0001725057'
 '0000910521' '0000315189' '0001571996' '0000027904' '0001090012'
 '0001093557' '0001539838' '0001297996' '0000029534' '0000935703'
 '0000715957' '0001286681' '0001792789' '0000029905' '0001751788'
 '0000882184' '0000936340' '0001326160' '0001666700' '0000915389'
 '0001551182' '0001065088' '0000031462' '0000827052' '0001099800'
 '0000712515' '0001156039' '0000032604' '0001463101' '0000065984'
 '0000821189' '0001352010' '0000033213' '0000033185' '0001101239'
 '0000906107' '0000922621' '0000920522' '0001001250' '0001095073'
 '0001711269' '0000072741' '0001109357' '0000895126' '0001324424'
 '0000746515' '0001289490' '0000034088' '0001048695' '0001013237'
 '0000814547' '0000815556' '0000034903' '0001048911' '0001136893'
 '0000035527' '0001274494' '0001031296' '0000798354' '0000037996'
 '0001262039' '0001659166' '0001754301' '0001754301' '0000038777'
 '0000831259' '0001121788' '0000749251' '0000040545' '0001932393'
 '0001996810' '0000849399' '0001474735' '0000040533' '0000040704'
 '0001467858' '0000040987' '0000882095' '0001123360' '0000320335'
 '0001609711' '0000886982' '0000045012' '0000874766' '0000046080'
 '0000860730' '0000765880' '0001000228' '0000047111' '0001645590'
 '0001585689' '0000859737' '0000354950' '0000773840' '0000048465'
 '0001070750' '0000004281' '0000047217' '0000048898' '0000049071'
 '0000049196' '0001501585' '0000051143' '0000832101' '0000874716'
 '0000049826' '0000879169' '0001699150' '0001145197' '0000050863'
 '0001381197' '0001571949' '0000051253' '0000051434' '0000051644'
 '0000896878' '0001035267' '0000914208' '0001687229' '0001478242'
 '0001020569' '0000728535' '0000898293' '0000779152' '0000052988'
 '0000200406' '0000833444' '0000019617' '0000055067' '0001944048'
 '0001418135' '0000091576' '0001601046' '0000055785' '0000879101'
 '0001506307' '0001404912' '0000319201' '0001637459' '0000056873'
 '0000202058' '0000920148' '0000707549' '0001679273' '0001300514'
 '0001336920' '0000920760' '0001069202' '0000059478' '0001707925'
 '0001335258' '0001065696' '0000936468' '0000060086' '0000060667'
 '0001397187' '0001489393' '0000036270' '0001510295' '0001278021'
 '0001048286' '0000062709' '0000916076' '0000062996' '0001141391'
 '0000891103' '0000063754' '0000063908' '0000927653' '0001613103'
 '0000310158' '0001326801' '0001099219' '0001037646' '0000789570'
 '0000827054' '0000723125' '0000789019' '0000912595' '0001682852'
 '0000851968' '0001179929' '0000024545' '0001103982' '0001280452'
 '0000865752' '0001059556' '0000895421' '0001285785' '0000068505'
 '0001408198' '0001120193' '0001002047' '0001065280' '0001164727'
 '0001564708' '0001564708' '0000753308' '0000320187' '0001111711'
 '0000072331' '0000702165' '0000073124' '0001133421' '0001513761'
 '0001013871' '0000073309' '0001045810' '0000906163' '0001413447'
 '0000898173' '0000797468' '0000878927' '0000029989' '0001097864'
 '0001039684' '0001341439' '0001781335' '0000075362' '0000075677'
 '0001321655' '0001327567' '0002041610' '0000076334' '0000723531'
 '0001590955' '0001633917' '0000077360' '0000077476' '0000078003'
 '0001004980' '0001413329' '0001534701' '0000764622' '0000713676'
 '0000945841' '0000079879' '0000922224' '0001126328' '0000080424'
 '0000080661' '0001045609' '0001137774' '0000788784' '0000857005'
 '0001393311' '0000822416' '0001050915' '0000804328' '0001022079'
 '0001037038' '0000720005' '0000101829' '0000726728' '0000910606'
 '0000872589' '0001281761' '0001060391' '0000943819' '0000031791'
 '0001024478' '0000084839' '0000882835' '0000745732' '0000884887'
 '0000064040' '0001108524' '0001034054' '0000087347' '0001137789'
 '0001032208' '0001373715' '0000089800' '0001063761' '0000004127'
 '0000091419' '0002005951' '0000091440' '0001964738' '0000092122'
 '0000092380' '0000093556' '0000829224' '0000093751' '0001022671'
 '0001757898' '0000310764' '0001375365' '0001601712' '0000883241'
 '0000096021' '0001283699' '0001113169' '0000946581' '0001116132'
 '0001389170' '0000027419' '0001385157' '0001094285' '0000097210'
 '0001318605' '0000097476' '0001811074' '0000217346' '0000097745'
 '0000109198' '0001973266' '0001671933' '0000916365' '0001466258'
 '0001260221' '0000086312' '0000864749' '0000092230' '0000860731'
 '0000100493' '0000036104' '0001543151' '0000074208' '0001403568'
 '0000100885' '0000100517' '0001090727' '0001067701' '0000731766'
 '0000352915' '0001035002' '0000740260' '0001967680' '0001014473'
 '0001442145' '0000732712' '0000875320' '0001792044' '0001705696'
 '0001403161' '0001692819' '0001396009' '0000011544' '0000277135'
 '0000943452' '0000104169' '0001744489' '0001437107' '0000823768'
 '0001000697' '0000783325' '0000072971' '0000766704' '0000105770'
 '0000106040' '0000106535' '0000719955' '0000107263' '0001140536'
 '0001327811' '0001174922' '0000072903' '0001524472' '0001041061'
 '0000877212' '0001136869' '0001555280']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  sp500_current.loc[:, 'cik'] = sp500_current['cik'].apply(str).str.zfill(10)

,ticker,security,gics_sector,gics_sub_industry,headquarters_location,date_added,cik,founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,0000066740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,0000091142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,0000001800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989

# 3. 조정 기록
- 일부 S&P500 편입/퇴출 기록

In [25]:
sp500_inout = wiki_data[1]
sp500_inout.head()

              Date  Added                      Removed  \
              Date Ticker             Security  Ticker
0  August 28, 2025   IBKR  Interactive Brokers     WBA
1    July 23, 2025    XYZ          Block, Inc.     HES
2    July 18, 2025    TTD     Trade Desk (The)    ANSS
3     July 9, 2025   DDOG              Datadog    JNPR
4     May 19, 2025   COIN             Coinbase     DFS

                                                                        Reason
                   Security                                             Reason
0  Walgreens Boots Alliance  Sycamore Partners acquired Walgreen Boots Alli...
1          Hess Corporation  S&P 500 and S&P 100 constituent Chevron Corp. ...
2                     Ansys  S&P 500 constituent Synopsys Inc. acquired Ans...
3          Juniper Networks  S&P 500 constituent Hewlett Packard Enterprise...
4        Discover Financial  S&P 500 constituent Capital One Financial Corp...

In [26]:
sp500_current.columns

Index(['ticker', 'security', 'gics_sector', 'gics_sub_industry',
       'headquarters_location', 'date_added', 'cik', 'founded'],
      dtype='object')

In [27]:
sp500_inout.columns

MultiIndex([(   'Date',     'Date'),
            (  'Added',   'Ticker'),
            (  'Added', 'Security'),
            ('Removed',   'Ticker'),
            ('Removed', 'Security'),
            ( 'Reason',   'Reason')],
           )

In [28]:
sp500_inout.columns = ['date_modified', 'ticker_added', 'security_added', 'ticker_removed', 'security_removed', 'reason']
sp500_inout.head()

,date_modified,ticker_added,security_added,ticker_removed,security_removed,reason
0,"August 28, 2025",IBKR,Interactive Brokers,WBA,Walgreens Boots Alliance,Sycamore Partners acquired Walgreen Boots Alli...
1,"July 23, 2025",XYZ,"Block, Inc.",HES,Hess Corporation,S&P 500 and S&P 100 constituent Chevron Corp. ...
2,"July 18, 2025",TTD,Trade Desk (The),ANSS,Ansys,S&P 500 constituent Synopsys Inc. acquired Ans...
3,"July 9, 2025",DDOG,Datadog,JNPR,Juniper Networks,S&P 500 constituent Hewlett Packard Enterprise...
4,"May 19, 2025",COIN,Coinbase,DFS,Discover Financial,S&P 500 constituent Capital One Financial Corp...

In [33]:
sp500_added = sp500_inout[~sp500_inout['ticker_added'].isnull()][['date_modified','ticker_added','security_added','reason']]
sp500_added.columns = ['date_modified', 'ticker', 'security', 'reason']
sp500_added['action'] = 'added'
sp500_added.head()

,date_modified,ticker,security,reason,action
0,"August 28, 2025",IBKR,Interactive Brokers,Sycamore Partners acquired Walgreen Boots Alli...,added
1,"July 23, 2025",XYZ,"Block, Inc.",S&P 500 and S&P 100 constituent Chevron Corp. ...,added
2,"July 18, 2025",TTD,Trade Desk (The),S&P 500 constituent Synopsys Inc. acquired Ans...,added
3,"July 9, 2025",DDOG,Datadog,S&P 500 constituent Hewlett Packard Enterprise...,added
4,"May 19, 2025",COIN,Coinbase,S&P 500 constituent Capital One Financial Corp...,added

In [34]:
sp500_removed = sp500_inout[~sp500_inout['ticker_removed'].isnull()][['date_modified','ticker_removed','security_removed','reason']]
sp500_removed.columns = ['date_modified', 'ticker', 'security', 'reason']
sp500_removed['action'] = 'removed'
sp500_removed.head()

,date_modified,ticker,security,reason,action
0,"August 28, 2025",WBA,Walgreens Boots Alliance,Sycamore Partners acquired Walgreen Boots Alli...,removed
1,"July 23, 2025",HES,Hess Corporation,S&P 500 and S&P 100 constituent Chevron Corp. ...,removed
2,"July 18, 2025",ANSS,Ansys,S&P 500 constituent Synopsys Inc. acquired Ans...,removed
3,"July 9, 2025",JNPR,Juniper Networks,S&P 500 constituent Hewlett Packard Enterprise...,removed
4,"May 19, 2025",DFS,Discover Financial,S&P 500 constituent Capital One Financial Corp...,removed

In [42]:
sp500_history = pd.concat([sp500_added, sp500_removed])
sp500_history[sp500_history.action=='added'].head()

,date_modified,ticker,security,reason,action
0,"August 28, 2025",IBKR,Interactive Brokers,Sycamore Partners acquired Walgreen Boots Alli...,added
1,"July 23, 2025",XYZ,"Block, Inc.",S&P 500 and S&P 100 constituent Chevron Corp. ...,added
2,"July 18, 2025",TTD,Trade Desk (The),S&P 500 constituent Synopsys Inc. acquired Ans...,added
3,"July 9, 2025",DDOG,Datadog,S&P 500 constituent Hewlett Packard Enterprise...,added
4,"May 19, 2025",COIN,Coinbase,S&P 500 constituent Capital One Financial Corp...,added

In [43]:
sp500_history[sp500_history.action=='removed'].head()

,date_modified,ticker,security,reason,action
0,"August 28, 2025",WBA,Walgreens Boots Alliance,Sycamore Partners acquired Walgreen Boots Alli...,removed
1,"July 23, 2025",HES,Hess Corporation,S&P 500 and S&P 100 constituent Chevron Corp. ...,removed
2,"July 18, 2025",ANSS,Ansys,S&P 500 constituent Synopsys Inc. acquired Ans...,removed
3,"July 9, 2025",JNPR,Juniper Networks,S&P 500 constituent Hewlett Packard Enterprise...,removed
4,"May 19, 2025",DFS,Discover Financial,S&P 500 constituent Capital One Financial Corp...,removed

In [45]:
sp500_history.info()

<class 'pandas.core.frame.DataFrame'>
Index: 718 entries, 0 to 375
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date_modified  718 non-null    object
 1   ticker         718 non-null    object
 2   security       718 non-null    object
 3   reason         718 non-null    object
 4   action         718 non-null    object
dtypes: object(5)
memory usage: 33.7+ KB

In [44]:
sp500_current.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ticker                 503 non-null    object
 1   security               503 non-null    object
 2   gics_sector            503 non-null    object
 3   gics_sub_industry      503 non-null    object
 4   headquarters_location  503 non-null    object
 5   date_added             503 non-null    object
 6   cik                    503 non-null    object
 7   founded                503 non-null    object
dtypes: object(8)
memory usage: 31.6+ KB

In [49]:
sp500_history_ticker_list = sp500_history.ticker.unique()
len(sp500_history_ticker_list)

579

In [50]:
sp500_current_ticker_list = sp500_current.ticker.unique()
len(sp500_current_ticker_list)

503

In [ ]:
current_ticker_set = set(sp500_current_ticker_list)
history_ticker_set = set(sp500_history_ticker_list)

# 
sub_ticker_set = history_ticker_set - current_ticker_set

In [54]:
print(len(current_ticker_set), len(history_ticker_set))

503 579

In [53]:
len(sub_ticker_set)

351

In [55]:
sp500_current.gics_sector.unique()

array(['Industrials', 'Health Care', 'Information Technology',
       'Utilities', 'Financials', 'Materials', 'Consumer Discretionary',
       'Real Estate', 'Communication Services', 'Consumer Staples',
       'Energy'], dtype=object)

In [57]:
len(sp500_current.gics_sub_industry.unique())

128

In [56]:
sp500_current.gics_sub_industry.unique()

array(['Industrial Conglomerates', 'Building Products',
       'Health Care Equipment', 'Biotechnology',
       'IT Consulting & Other Services', 'Application Software',
       'Semiconductors', 'Independent Power Producers & Energy Traders',
       'Life & Health Insurance', 'Life Sciences Tools & Services',
       'Industrial Gases', 'Hotels, Resorts & Cruise Lines',
       'Internet Services & Infrastructure', 'Specialty Chemicals',
       'Office REITs', 'Health Care Supplies', 'Electric Utilities',
       'Property & Casualty Insurance', 'Interactive Media & Services',
       'Tobacco', 'Broadline Retail',
       'Paper & Plastic Packaging Products & Materials',
       'Multi-Utilities', 'Consumer Finance', 'Multi-line Insurance',
       'Telecom Tower REITs', 'Water Utilities',
       'Asset Management & Custody Banks',
       'Electrical Components & Equipment', 'Electronic Components',
       'Insurance Brokers', 'Oil & Gas Exploration & Production',
       'Technology Hardware, Storage & Peripherals',
       'Semiconductor Materials & Equipment',
       'Automotive Parts & Equipment', 'Agricultural Products & Services',
       'Communications Equipment',
       'Integrated Telecommunication Services', 'Gas Utilities',
       'Human Resource & Employment Services', 'Automotive Retail',
       'Multi-Family Residential REITs', 'Aerospace & Defense',
       'Oil & Gas Equipment & Services',
       'Metal, Glass & Plastic Containers', 'Diversified Banks',
       'Multi-Sector Holdings', 'Computer & Electronics Retail',
       'Transaction & Payment Processing Services', 'Pharmaceuticals',
       'Data Processing & Outsourced Services', 'Distillers & Vintners',
       'Air Freight & Logistics', 'Casinos & Gaming',
       'Packaged Foods & Meats', 'Health Care Distributors',
       'Construction Machinery & Heavy Transportation Equipment',
       'Financial Exchanges & Data', 'Real Estate Services',
       'Technology Distributors', 'Managed Health Care',
       'Fertilizers & Agricultural Chemicals',
       'Investment Banking & Brokerage', 'Cable & Satellite',
       'Integrated Oil & Gas', 'Restaurants', 'Household Products',
       'Health Care Services', 'Diversified Support Services',
       'Regional Banks', 'Soft Drinks & Non-alcoholic Beverages',
       'Consumer Staples Merchandise Retail', 'Systems Software',
       'Rail Transportation', 'Footwear', 'Agricultural & Farm Machinery',
       'Passenger Airlines', 'Data Center REITs',
       'Specialized Consumer Services',
       'Industrial Machinery & Supplies & Components',
       'Commodity Chemicals', 'Homebuilding',
       'Interactive Home Entertainment', 'Research & Consulting Services',
       'Personal Care Products', 'Reinsurance', 'Self-Storage REITs',
       'Trading Companies & Distributors', 'Retail REITs',
       'Automobile Manufacturers', 'Broadcasting', 'Copper',
       'Consumer Electronics', 'Heavy Electrical Equipment',
       'Distributors', 'Leisure Products', 'Health Care Facilities',
       'Health Care REITs', 'Home Improvement Retail',
       'Hotel & Resort REITs', 'Advertising',
       'Single-Family Residential REITs', 'Other Specialized REITs',
       'Cargo Ground Transportation', 'Electronic Manufacturing Services',
       'Construction & Engineering', 'Electronic Equipment & Instruments',
       'Oil & Gas Storage & Transportation', 'Food Retail',
       'Movies & Entertainment', 'Apparel, Accessories & Luxury Goods',
       'Oil & Gas Refining & Marketing', 'Construction Materials',
       'Home Furnishings', 'Brewers', 'Gold', 'Publishing', 'Steel',
       'Industrial REITs', 'Environmental & Facilities Services',
       'Apparel Retail', 'Health Care Technology', 'Food Distributors',
       'Wireless Telecommunication Services', 'Other Specialty Retail',
       'Passenger Ground Transportation', 'Timber REITs',
       'Homefurnishing Retail'], dtype=object)

In [62]:
print(sp500_current.groupby('gics_sector')['gics_sub_industry'])

<pandas.core.groupby.generic.SeriesGroupBy object at 0x0000020EFBEFA350>

In [ ]:
sp500_current.groupby('gics_sector')['gics_sub_industry'].unique()

gics_sector
Communication Services    [Interactive Media & Services, Integrated Tele...
Consumer Discretionary    [Hotels, Resorts & Cruise Lines, Broadline Ret...
Consumer Staples          [Tobacco, Agricultural Products & Services, Di...
Energy                    [Oil & Gas Exploration & Production, Oil & Gas...
Financials                [Life & Health Insurance, Property & Casualty ...
Health Care               [Health Care Equipment, Biotechnology, Life Sc...
Industrials               [Industrial Conglomerates, Building Products, ...
Information Technology    [IT Consulting & Other Services, Application S...
Materials                 [Industrial Gases, Specialty Chemicals, Paper ...
Real Estate               [Office REITs, Telecom Tower REITs, Multi-Fami...
Utilities                 [Independent Power Producers & Energy Traders,...
Name: gics_sub_industry, dtype: object

In [73]:
gics_sector = sp500_current.groupby('gics_sector')['gics_sub_industry'].apply(list)

In [77]:
gics_sector.index

Index(['Communication Services', 'Consumer Discretionary', 'Consumer Staples',
       'Energy', 'Financials', 'Health Care', 'Industrials',
       'Information Technology', 'Materials', 'Real Estate', 'Utilities'],
      dtype='object', name='gics_sector')

In [81]:
gics_sector.loc['Information Technology']

['IT Consulting & Other Services',
 'Application Software',
 'Semiconductors',
 'Internet Services & Infrastructure',
 'Electronic Components',
 'Semiconductors',
 'Technology Hardware, Storage & Peripherals',
 'Semiconductor Materials & Equipment',
 'Communications Equipment',
 'Application Software',
 'Semiconductors',
 'Application Software',
 'Technology Distributors',
 'Communications Equipment',
 'IT Consulting & Other Services',
 'Electronic Components',
 'Systems Software',
 'Application Software',
 'Technology Hardware, Storage & Peripherals',
 'Semiconductor Materials & Equipment',
 'IT Consulting & Other Services',
 'Communications Equipment',
 'Application Software',
 'Semiconductors',
 'Systems Software',
 'IT Consulting & Other Services',
 'Systems Software',
 'Internet Services & Infrastructure',
 'Technology Hardware, Storage & Peripherals',
 'Technology Hardware, Storage & Peripherals',
 'IT Consulting & Other Services',
 'Semiconductors',
 'Application Software',
 'Electronic Manufacturing Services',
 'Electronic Equipment & Instruments',
 'Semiconductor Materials & Equipment',
 'Semiconductor Materials & Equipment',
 'Semiconductors',
 'Semiconductors',
 'Systems Software',
 'Semiconductors',
 'Communications Equipment',
 'Technology Hardware, Storage & Peripherals',
 'Semiconductors',
 'Semiconductors',
 'Semiconductors',
 'Application Software',
 'Application Software',
 'Systems Software',
 'Application Software',
 'Semiconductors',
 'Electronic Equipment & Instruments',
 'Application Software',
 'Technology Hardware, Storage & Peripherals',
 'Systems Software',
 'Semiconductors',
 'Technology Hardware, Storage & Peripherals',
 'Application Software',
 'Electronic Manufacturing Services',
 'Electronic Equipment & Instruments',
 'Semiconductor Materials & Equipment',
 'Semiconductors',
 'Electronic Equipment & Instruments',
 'Application Software',
 'Internet Services & Infrastructure',
 'Technology Hardware, Storage & Peripherals',
 'Application Software',
 'Electronic Equipment & Instruments']