In [1]:
import datetime as dt
import pandas as pd
import requests
import yfinance as yf

# stock table
- displayName : stock_security
- sector : category_sector
- industry : category_industry
- city : 
- firstTradeDateMilliseconds : stock_ipo

In [2]:
ticker_start_end = pd.read_csv('sp500_ticker_start_end.csv')
ticker_list = ticker_start_end.ticker.unique().tolist()
tickers = yf.Tickers(ticker_list)

len(ticker_list)

1181

In [ ]:
# 데이터를 수집할 리스트 (약 11분 소요)
stock_data_list = []
valid_ticker_list = []

for symbol, ticker_obj in tickers.tickers.items():
    try:
        info = ticker_obj.info
        stock_data_list.append({
            'ticker': symbol,
            'security': info.get('longName', None),
            'sector': info.get('sector', None), 
            'industry': info.get('industry', None),
            'city': info.get('city', None),
            'ipo': info.get('firstTradeDateMilliseconds', None)
        })
        if info.get('sector', None) != None:
            valid_ticker_list.append(symbol)
    except Exception as e:
        print(f"Error for {symbol}: {e}")
        # 에러가 있어도 기본값으로 추가
        stock_data_list.append({
            'ticker': symbol,
            'security': None,
            'sector': None,
            'industry': None,
            'city': None,
            'ipo': None
        })

# 한 번에 DataFrame 생성
stock_df_efficient = pd.DataFrame(stock_data_list)
# tick to Date
stock_df_efficient['ipo_date'] = pd.to_datetime(stock_df_efficient['ipo'], unit='ms', errors='coerce')
print(f"생성된 데이터프레임 크기: {stock_df_efficient.shape}")
print(stock_df_efficient.head())

HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:
HTTP Error 404:

생성된 데이터프레임 크기: (1181, 6)
  ticker                      security             sector  \
0      A    Agilent Technologies, Inc.         Healthcare
1   AABA                          None               None
2    AAL  American Airlines Group Inc.        Industrials
3  AAMRQ                          None               None
4    AAP      Advance Auto Parts, Inc.  Consumer Cyclical

                 industry         city           ipo
0  Diagnostics & Research  Santa Clara  9.429354e+11
1                    None         None           NaN
2                Airlines   Fort Worth  1.127828e+12
3                    None         None           NaN
4              Auto Parts      Raleigh  1.007044e+12

In [33]:
# 위에서 처리 못했으면 이렇게.
valid_ticker_list = stock_df_efficient[~stock_df_efficient.sector.isna()].ticker.tolist()
valid_ticker_list

['A',
 'AAL',
 'AAP',
 'AAPL',
 'ABBV',
 'ABNB',
 'ABT',
 'ACGL',
 'ACN',
 'ACV',
 'ADBE',
 'ADCT',
 'ADI',
 'ADM',
 'ADP',
 'ADSK',
 'ADT',
 'AEE',
 'AEP',
 'AES',
 'AFL',
 'AIG',
 'AIT',
 'AIV',
 'AIZ',
 'AJG',
 'AKAM',
 'AL',
 'ALB',
 'ALGN',
 'ALK',
 'ALL',
 'ALLE',
 'AM',
 'AMAT',
 'AMCR',
 'AMD',
 'AME',
 'AMG',
 'AMGN',
 'AMH',
 'AMP',
 'AMT',
 'AMTM',
 'AMZN',
 'AN',
 'ANET',
 'ANF',
 'ANSS',
 'AON',
 'AOS',
 'APA',
 'APD',
 'APH',
 'APO',
 'APTV',
 'AR',
 'ARE',
 'AS',
 'ASC',
 'ASH',
 'ASND',
 'ASO',
 'ATGE',
 'ATI',
 'ATO',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXON',
 'AXP',
 'AYI',
 'AZO',
 'BA',
 'BAC',
 'BALL',
 'BAX',
 'BBT',
 'BBWI',
 'BBY',
 'BC',
 'BCO',
 'BDX',
 'BEAM',
 'BEN',
 'BG',
 'BHF',
 'BIIB',
 'BIO',
 'BK',
 'BKNG',
 'BKR',
 'BLDR',
 'BLK',
 'BMY',
 'BNL',
 'BR',
 'BRO',
 'BSX',
 'BUD',
 'BWA',
 'BX',
 'BXP',
 'C',
 'CAG',
 'CAH',
 'CAL',
 'CAR',
 'CARR',
 'CAT',
 'CB',
 'CBOE',
 'CBRE',
 'CCB',
 'CCEP',
 'CCI',
 'CCK',
 'CCL',
 'CCU',
 'CDNS',
 'CDW',
 'CE',
 'CEG',
 'CF',
 'CFG',
 'CG',
 'CHA',
 'CHD',
 'CHRS',
 'CHRW',
 'CHTR',
 'CI',
 'CIEN',
 'CINF',
 'CL',
 'CLF',
 'CLX',
 'CMA',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'CNX',
 'COF',
 'COIN',
 'COMS',
 'COO',
 'COP',
 'COR',
 'COST',
 'COTY',
 'CPAY',
 'CPB',
 'CPRI',
 'CPRT',
 'CPT',
 'CPWR',
 'CR',
 'CRL',
 'CRM',
 'CRWD',
 'CSCO',
 'CSGP',
 'CSR',
 'CSX',
 'CTAS',
 'CTRA',
 'CTSH',
 'CTVA',
 'CVS',
 'CVX',
 'CZR',
 'D',
 'DAL',
 'DASH',
 'DAY',
 'DD',
 'DDOG',
 'DDS',
 'DE',
 'DEC',
 'DECK',
 'DELL',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIGI',
 'DIS',
 'DLR',
 'DLTR',
 'DLX',
 'DNB',
 'DOC',
 'DOV',
 'DOW',
 'DPZ',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'DXC',
 'DXCM',
 'DYN',
 'EA',
 'EBAY',
 'EC',
 'ECL',
 'ECO',
 'ED',
 'EFX',
 'EG',
 'EHC',
 'EIX',
 'EL',
 'ELV',
 'EMN',
 'EMR',
 'ENPH',
 'ENS',
 'EOG',
 'EP',
 'EPAM',
 'EQ',
 'EQIX',
 'EQR',
 'EQT',
 'ERIE',
 'ES',
 'ESS',
 'ETN',
 'ETR',
 'ETS',
 'ETSY',
 'EVRG',
 'EW',
 'EXC',
 'EXE',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FANG',
 'FAST',
 'FCN',
 'FCPT',
 'FCX',
 'FDS',
 'FDX',
 'FE',
 'FFIV',
 'FG',
 'FHN',
 'FI',
 'FICO',
 'FIS',
 'FITB',
 'FL',
 'FLR',
 'FLS',
 'FMC',
 'FMCC',
 'FMY',
 'FNMA',
 'FOSL',
 'FOX',
 'FOXA',
 'FRO',
 'FRT',
 'FSLR',
 'FTI',
 'FTNT',
 'FTV',
 'G',
 'GD',
 'GDDY',
 'GE',
 'GEHC',
 'GEN',
 'GEV',
 'GHC',
 'GILD',
 'GIS',
 'GL',
 'GLW',
 'GM',
 'GME',
 'GNRC',
 'GNT',
 'GNW',
 'GOOG',
 'GOOGL',
 'GP',
 'GPC',
 'GPN',
 'GRMN',
 'GS',
 'GT',
 'GTE',
 'GWW',
 'H',
 'HAL',
 'HAS',
 'HBAN',
 'HBI',
 'HCA',
 'HD',
 'HES',
 'HI',
 'HIG',
 'HII',
 'HLT',
 'HOG',
 'HOLX',
 'HON',
 'HP',
 'HPE',
 'HPQ',
 'HRB',
 'HRL',
 'HSIC',
 'HST',
 'HSY',
 'HUBB',
 'HUM',
 'HWM',
 'IAC',
 'IBM',
 'ICE',
 'IDXX',
 'IEX',
 'IFF',
 'ILMN',
 'INCY',
 'INGR',
 'INTC',
 'INTU',
 'INVH',
 'IP',
 'IPG',
 'IPGP',
 'IQV',
 'IR',
 'IRM',
 'ISRG',
 'IT',
 'ITT',
 'ITW',
 'IVZ',
 'J',
 'JBHT',
 'JBL',
 'JCI',
 'JEF',
 'JKHY',
 'JNJ',
 'JPM',
 'K',
 'KBH',
 'KDP',
 'KEY',
 'KEYS',
 'KG',
 'KHC',
 'KIM',
 'KKR',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KR',
 'KSS',
 'KVUE',
 'L',
 'LB',
 'LDOS',
 'LEG',
 'LEN',
 'LH',
 'LHX',
 'LII',
 'LIN',
 'LKQ',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LPX',
 'LRCX',
 'LU',
 'LULU',
 'LUMN',
 'LUV',
 'LVS',
 'LW',
 'LYB',
 'LYV',
 'M',
 'MA',
 'MAA',
 'MAC',
 'MAR',
 'MAS',
 'MAT',
 'MBI',
 'MCD',
 'MCHP',
 'MCIC',
 'MCK',
 'MCO',
 'MD',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MGM',
 'MHK',
 'MI',
 'MIR',
 'MKC',
 'MKTX',
 'MLM',
 'MMC',
 'MMI',
 'MMM',
 'MNR',
 'MNST',
 'MO',
 'MOB',
 'MOH',
 'MOS',
 'MPC',
 'MPWR',
 'MRK',
 'MRNA',
 'MS',
 'MSCI',
 'MSFT',
 'MSI',
 'MTB',
 'MTCH',
 'MTD',
 'MTG',
 'MTW',
 'MU',
 'MUR',
 'NAVI',
 'NBR',
 'NC',
 'NCLH',
 'NDAQ',
 'NDSN',
 'NE',
 'NEE',
 'NEM',
 'NFLX',
 'NI',
 'NKE',
 'NKTR',
 'NOC',
 'NOV',
 'NOW',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NVR',
 'NWL',
 'NWS',
 'NWSA',
 'NXPI',
 'NYT',
 'O',
 'ODFL',
 'ODP',
 'OGN',
 'OI',
 'OKE',
 'OM',
 'OMC',
 'ON',
 'ORCL',
 'ORLY',
 'OTIS',
 'OXY',
 'PAC',
 'PANW',
 'PARA',
 'PAYC',
 'PAYX',
 'PBI',
 'PCAR',
 'PCG',
 'PCH',
 'PD',
 'PEG',
 'PENN',
 'PEP',
 'PET',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKG',
 'PLD',
 'PLL',
 'PLTR',
 'PM',
 'PMI',
 'PNC',
 'PNR',
 'PNW',
 'PODD',
 'POOL',
 'PPG',
 'PPL',
 'PRGO',
 'PRU',
 'PSA',
 'PSX',
 'PTC',
 'PVH',
 'PWR',
 'PX',
 'PYPL',
 'QCOM',
 'QRVO',
 'R',
 'RAL',
 'RCL',
 'REG',
 'REGN',
 'RF',
 'RHI',
 'RIG',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RRC',
 'RSG',
 'RTX',
 'RVTY',
 'RYAN',
 'RYI',
 'S',
 'SANM',
 'SB',
 'SBAC',
 'SBNY',
 'SBUX',
 'SCHW',
 'SCI',
 'SE',
 'SEDG',
 'SEE',
 'SEG',
 'SHW',
 'SIG',
 'SII',
 'SJM',
 'SLB',
 'SLG',
 'SLM',
 'SMCI',
 'SNA',
 'SNDK',
 'SNPS',
 'SNT',
 'SNV',
 'SO',
 'SOLV',
 'SPG',
 'SPGI',
 'SRE',
 'SSP',
 'STE',
 'STI',
 'STLD',
 'STR',
 'STT',
 'STX',
 'STZ',
 'SUN',
 'SW',
 'SWK',
 'SWKS',
 'SYF',
 'SYK',
 'SYY',
 'T',
 'TAP',
 'TDC',
 'TDG',
 'TDY',
 'TE',
 'TECH',
 'TEL',
 'TEN',
 'TER',
 'TEX',
 'TFC',
 'TFX',
 'TGNA',
 'TGT',
 'THC',
 'TJX',
 'TKO',
 'TKR',
 'TMC',
 'TMO',
 'TMUS',
 'TPL',
 'TPR',
 'TRGP',
 'TRIP',
 'TRMB',
 'TROW',
 'TRV',
 'TSCO',
 'TSLA',
 'TSN',
 'TT',
 'TTWO',
 'TX',
 'TXN',
 'TXT',
 'TYL',
 'UA',
 'UAA',
 'UAL',
 'UBER',
 'UCL',
 'UDR',
 'UHS',
 'UIS',
 'UK',
 'ULTA',
 'UNH',
 'UNM',
 'UNP',
 'UPC',
 'UPS',
 'URBN',
 'URI',
 'USB',
 'USBC',
 'V',
 'VFC',
 'VIAV',
 'VICI',
 'VLO',
 'VLTO',
 'VMC',
 'VNO',
 'VNT',
 'VRSK',
 'VRSN',
 'VRTS',
 'VRTX',
 'VST',
 'VTR',
 'VTRS',
 'VZ',
 'WAB',
 'WAI',
 'WAT',
 'WB',
 'WBA',
 'WBD',
 'WDAY',
 'WDC',
 'WEC',
 'WELL',
 'WEN',
 'WFC',
 'WHR',
 'WM',
 'WMB',
 'WMT',
 'WOR',
 'WRB',
 'WSM',
 'WST',
 'WTW',
 'WU',
 'WY',
 'WYNN',
 'XEL',
 'XOM',
 'XRAY',
 'XRX',
 'XYL',
 'YUM',
 'ZBH',
 'ZBRA',
 'ZION',
 'ZTS']

In [34]:
type(valid_ticker_list)

list

# stock_history

In [30]:
import yfinance as yf
import pandas as pd

def yfDownload(ticker_list: list) -> pd.DataFrame:
    """
    주식 티커 목록의 데이터를 효율적으로 다운로드하여 단일 DataFrame으로 반환합니다.

    Args:
        ticker_list (list): 다운로드할 티커 목록
        start (str): 시작 날짜 (YYYY-MM-DD 형식)
        end (str): 끝 날짜 (YYYY-MM-DD 형식)

    Returns:
        pd.DataFrame: 모든 티커의 데이터를 포함하는 단일 DataFrame
    """
    
    # 1. 모든 티커의 데이터를 한 번에 다운로드
    # 이 방식이 for 루프보다 훨씬 빠릅니다.
    df_all_tickers = yf.download(ticker_list, period='max')
    
    # 2. 멀티인덱스를 가진 DataFrame을 단일 DataFrame으로 변환
    # Ticker 레벨을 행 인덱스로 옮기고 초기화하여 원하는 형식으로 만듭니다.
    df_long = df_all_tickers.stack().reset_index()
    
    # 3. 컬럼명 정리
    df_long.rename(columns={'level_0': 'Date', 'level_1': 'Ticker'}, inplace=True)
    df_long = df_long.sort_values(by=['Ticker','Date'], ascending=[True, True])
    df_long.columns.name = None
    
    return df_long

In [ ]:
# valid한 ticker만 다운로드 진행 (2분)
stock_history = yfDownload(valid_ticker_list)

C:\Users\fzaca\AppData\Local\Temp\ipykernel_74396\1287742904.py:19: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_all_tickers = yf.download(ticker_list, period='max')
[*********************100%***********************]  712 of 712 completed
C:\Users\fzaca\AppData\Local\Temp\ipykernel_74396\1287742904.py:23: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df_long = df_all_tickers.stack().reset_index()

In [36]:
stock_history

,Date,Ticker,Close,High,Low,Open,Volume
1855318,1999-11-18,A,26.399939,29.999932,23.999944,27.299935,62546380.0
1855772,1999-11-19,A,24.224937,25.799933,23.887438,25.762432,15234146.0
1856226,1999-11-22,A,26.399939,26.399939,24.037443,24.787442,6577870.0
1856680,1999-11-23,A,23.999939,26.174934,23.999939,25.499935,5975611.0
1857135,1999-11-24,A,24.637436,25.162435,23.999937,24.074937,4843231.0
...,...,...,...,...,...,...,...
5689689,2025-09-03,ZTS,152.429993,153.089996,151.460007,152.339996,1664700.0
5690395,2025-09-04,ZTS,153.199997,153.490005,151.350006,152.529999,1538500.0
5691101,2025-09-05,ZTS,153.320007,155.149994,152.399994,152.899994,1895900.0
5691806,2025-09-08,ZTS,151.750000,152.970001,146.490005,152.500000,3313000.0
5692511,2025-09-09,ZTS,149.789993,152.119995,149.639999,151.410004,1952000.0

# DB

In [36]:
from sqlalchemy import create_engine
import mysql.connector

db_url = 'mysql+mysqlconnector://testuser:test1234@localhost/stock_simul'
engine = create_engine(db_url)

def ToSQL(df: pd.DataFrame, engine: create_engine, table_name: str, if_exists: str = 'replace'):
    """
    Pandas DataFrame을 SQL 데이터베이스 테이블에 저장합니다.
    트랜잭션을 안전하게 관리하여 오류를 방지합니다.

    Args:
        df (pd.DataFrame): 저장할 DataFrame
        engine (create_engine): SQLAlchemy 데이터베이스 엔진
        table_name (str): 데이터를 저장할 테이블 이름
        if_exists (str): 테이블 존재 시 처리 방법 ('fail', 'replace', 'append')
    """
    try:
        # with 구문을 사용하여 연결과 트랜잭션을 안전하게 관리
        with engine.connect() as conn:
            with conn.begin() as transaction:
                # 데이터 삽입
                df.to_sql(name=table_name, con=conn, if_exists=if_exists, index=False, chunksize=10000)
        
        print(f"Success: '{table_name}' 테이블에 데이터가 성공적으로 저장되었습니다.")
    
    except Exception as e:
        print(f"Error... : {e}")
        # with conn.begin()이 오류를 감지하면 자동으로 롤백을 수행합니다.
        # 따라서 명시적인 transaction.rollback() 호출은 필요하지 않습니다.

In [37]:
ToSQL(stock_df_efficient, engine, 'stock_info')

Success: 'stock_info' 테이블에 데이터가 성공적으로 저장되었습니다.

In [48]:
ToSQL(stock_history, engine, 'stock_history')

Success: 'stock_history' 테이블에 데이터가 성공적으로 저장되었습니다.

# 기술 지표
- TA-LIB 모듈 활용

## 지표 설명

### RSI (Relative Strength Index)
RSI는 가격의 상승 압력과 하락 압력 간의 상대적인 강도를 나타냄. 일정 기간 동안의 주가 상승분과 하락분을 비교하여, 0-100 사이의 값으로 표현함.
- 70 이상이면 과매수, 30 이하면 과매도 상태로 간주함.
- 주로 14일을 사용하며, 단기 매매는 9일, 장기는 25일을 사용하기도 한다.

### MACD (Moving Average Convergence Divergence)
장기, 단기 이동평균선이 서로 멀어지거나 가까워지는 현상을 이용해 추세의 강도와 방향을 분석하는 지표
- MACD선과 시그널선의 교차 (골든 크로스, 데드 크로스) 를 통해 매매 신호를 포착.
- MACD 선이 시그널을 돌파하면 골든 크로스 -> 매수 신호
- 보통 12일 지수 이평선과 26일 지수 이평선 차이를 MACD 선으로 사용하고, MACD선의 9일 지수 이평선을 시그널로 사용

### ATR (Average True Range)
일정 기간 동안의 주가 변동성 (변동 폭) 을 나타내는 지표
- ATR 값이 높으면 주가 변동성이 크다는 의미이고, 값이 낮으면 변동성이 작은 것을 의미함.
- 변동성의 크기만을 측정하기 때문에 추세 지표와 함께 사용하는 것이 일반적임.
- 주로 14일 기간 사용

### Stochastic
일정 기간 내 주가 변동폭 중에서 현재 종가의 위치를 백분율로 나타내는 지표
- %K : 빠른 스토캐스틱, 일정 기간 동안의 최고가와 최저가 범위 내에서 현재 종가의 상대적 위치를 나타냄
- %D : 느린 스토캐스틱, %K의 이동평균값으로, %K의 노이즈를 줄여주는 역할
- RSI와 마찬가지로 과매수/과매도 상태를 판단하는 데 사용. 80 이상은 과매수, 20 이하는 과매도, %K %D의 교차를 통해 매매 신호 판단

### OBV (On-Balance Volume)
거래량은 주가에 선행한다는 전제를 바탕으로, 가격 변동에 따른 누적 거래량을 나타내는 지표
- 주가가 상승한 날의 거래량은 더하고, 하락한 날의 거래량은 빼서 누적 합계를 그래프로 나타낸다.
- OBV가 상승하면 매수 압력이 강해지고 있음을, 하락하면 매도 압력이 강해지고 있음을 의미한다.

In [ ]:
import yfinance as yf
import pandas as pd
import talib

def calculate_technical_indicators_with_talib(ticker_symbols: list):
    """
    Downloads stock data and calculates key technical indicators for each ticker.
    
    Args:
        ticker_symbols (list): A list of stock ticker symbols (e.g., ['AAPL', 'GOOG']).

    Returns:
        dict: A dictionary where keys are tickers and values are DataFrames
              containing the calculated indicators for each ticker.
    """
    
    print(f"Downloading historical data for tickers: {', '.join(ticker_symbols)}...")
    
    # 여러 티커의 데이터를 한 번에 다운로드
    df = yf.download(ticker_symbols, period="5y", auto_adjust=True, progress=False)

    if df.empty:
        print("No data downloaded. Please check ticker symbols and dates.")
        return {}
    
    # 단일 티커일 경우, 멀티인덱스 없이 일반 DataFrame 반환
    if len(ticker_symbols) == 1:
        df_dict = {ticker_symbols[0]: df}
    # 여러 티커일 경우, 멀티인덱스 DataFrame을 각 티커별 DataFrame으로 분할
    else:
        df_dict = {ticker: df.xs(ticker, level='Ticker', axis=1) for ticker in ticker_symbols}

    # 각 티커별로 지표 계산
    for ticker, ticker_df in df_dict.items():
        if not ticker_df.empty:
            print(f"\nCalculating indicators for {ticker}...")
            
            # 1. RSI (Relative Strength Index)
            ticker_df['RSI'] = talib.RSI(ticker_df['Close'], timeperiod=14)

            # 2. MACD (Moving Average Convergence Divergence)
            macd, macdsignal, macdhist = talib.MACD(
                ticker_df['Close'], fastperiod=12, slowperiod=26, signalperiod=9
            )
            ticker_df['MACD'] = macd
            ticker_df['MACD_Signal'] = macdsignal
            ticker_df['MACD_Hist'] = macdhist

            # 3. ATR (Average True Range)
            ticker_df['ATR'] = talib.ATR(ticker_df['High'], ticker_df['Low'], ticker_df['Close'], timeperiod=14)

            # 4. Stochastic Oscillator (%K, %D)
            stoch_k, stoch_d = talib.STOCH(
                ticker_df['High'], ticker_df['Low'], ticker_df['Close'],
                fastk_period=9, slowk_period=3, slowd_period=3
            )
            ticker_df['STOCH_K'] = stoch_k
            ticker_df['STOCH_D'] = stoch_d
            
            # 5. OBV (On-Balance Volume)
            ticker_df['OBV'] = talib.OBV(ticker_df['Close'], ticker_df['Volume'])
            
            print(f"Calculation for {ticker} complete.")
        else:
            print(f"Warning: No data for {ticker}. Skipping indicator calculation.")
            
    return df_dict

# Run the function for a sample list of stocks
if __name__ == "__main__":
    ticker_list = ["AAPL", "GOOG", "TSLA"]
    all_indicators = calculate_technical_indicators_with_talib(ticker_list)
    
    # Display results for each ticker
    for ticker, df in all_indicators.items():
        print(f"\n--- Final DataFrame for {ticker} with Indicators ---")
        print(df.tail())
        print(f"\nColumns for {ticker}:")
        print(df.columns)

Downloading historical data for tickers: AAPL, GOOG, TSLA...

Calculating indicators for AAPL...
Calculation for AAPL complete.

Calculating indicators for GOOG...
Calculation for GOOG complete.

Calculating indicators for TSLA...
Calculation for TSLA complete.

--- Final DataFrame for AAPL with Indicators ---
Price            Close        High         Low        Open    Volume  \
Date
2025-09-03  238.470001  238.850006  234.360001  237.210007  66427800
2025-09-04  239.779999  239.899994  236.740005  238.449997  47549400
2025-09-05  239.690002  241.320007  238.490005  240.000000  54870400
2025-09-08  237.880005  240.149994  236.339996  239.300003  48999500
2025-09-09  234.350006  238.780502  233.369995  237.000000  65167049

Price             RSI      MACD  MACD_Signal  MACD_Hist       ATR    STOCH_K  \
Date
2025-09-03  70.085727  5.012724     4.903946   0.108779  4.676890  81.990883
2025-09-04  71.205556  5.400135     5.003183   0.396952  4.568540  86.123906
2025-09-05  71.008892  5.634943     5.129535   0.505408  4.444359  95.629297
2025-09-08  67.000874  5.610306     5.225690   0.384617  4.399047  89.574657
2025-09-09  59.899808  5.245474     5.229646   0.015827  4.471295  73.647159

Price         STOCH_D           OBV
Date
2025-09-03  80.836716  1.970614e+09
2025-09-04  82.667996  2.018163e+09
2025-09-05  87.914695  1.963293e+09
2025-09-08  90.442620  1.914294e+09
2025-09-09  86.283704  1.849126e+09

Columns for AAPL:
Index(['Close', 'High', 'Low', 'Open', 'Volume', 'RSI', 'MACD', 'MACD_Signal',
       'MACD_Hist', 'ATR', 'STOCH_K', 'STOCH_D', 'OBV'],
      dtype='object', name='Price')

--- Final DataFrame for GOOG with Indicators ---
Price            Close        High         Low        Open    Volume  \
Date
2025-09-03  230.893631  231.593003  224.918960  226.277746  72250300
2025-09-04  232.452240  232.562142  226.557499  229.949472  32196000
2025-09-05  234.959991  235.919141  232.172490  232.452238  26127700
2025-09-08  234.160004  238.399994  233.729996  235.789993  23128800
2025-09-09  239.940002  240.589996  233.389999  234.190002  22344896

Price             RSI       MACD  MACD_Signal  MACD_Hist       ATR    STOCH_K  \
Date
2025-09-03  82.950553   6.941664     5.534101   1.407564  5.593380  89.637255
2025-09-04  83.570177   8.137542     6.054789   2.082753  5.622756  92.891931
2025-09-05  84.543509   9.181797     6.680191   2.501606  5.488749  98.076922
2025-09-08  82.857182   9.831492     7.310451   2.521041  5.430266  94.430017
2025-09-09  85.160298  10.689556     7.986272   2.703284  5.556676  93.919560

Price         STOCH_D           OBV
Date
2025-09-03  89.103861  1.998296e+09
2025-09-04  90.588442  2.030492e+09
2025-09-05  93.535369  2.056620e+09
2025-09-08  95.132957  2.033491e+09
2025-09-09  95.475500  2.055836e+09

Columns for GOOG:
Index(['Close', 'High', 'Low', 'Open', 'Volume', 'RSI', 'MACD', 'MACD_Signal',
       'MACD_Hist', 'ATR', 'STOCH_K', 'STOCH_D', 'OBV'],
      dtype='object', name='Price')

--- Final DataFrame for TSLA with Indicators ---
Price            Close        High         Low        Open     Volume  \
Date
2025-09-03  334.089996  343.329987  328.510010  335.200012   88733300
2025-09-04  338.529999  338.890015  331.480011  336.149994   60711000
2025-09-05  350.839996  355.869995  344.679993  348.000000  108989800
2025-09-08  346.399994  358.440002  344.839996  354.640015   75208300
2025-09-09  346.970001  350.760010  343.820007  348.450012   53585798

Price             RSI      MACD  MACD_Signal  MACD_Hist        ATR    STOCH_K  \
Date
2025-09-03  51.496857  4.274549     4.943060  -0.668510  12.422477  41.801621
2025-09-04  53.960283  4.147635     4.783975  -0.636340  12.064444  43.645337
2025-09-05  60.022660  4.982928     4.823765   0.159163  12.441269  59.377871
2025-09-08  57.102061  5.226386     4.904290   0.322097  12.524036  66.497777
2025-09-09  57.388718  5.403041     5.004040   0.399001  12.125176  70.597774

Price         STOCH_D           OBV
Date
2025-09-03  55.082286  9.802609e+09
2025-09-04  46.299856  9.863320e+09
2025-09-05  48.274943  9.972310e+09
2025-09-08  56.506995  9.897102e+09
2025-09-09  65.491141  9.950688e+09

Columns for TSLA:
Index(['Close', 'High', 'Low', 'Open', 'Volume', 'RSI', 'MACD', 'MACD_Signal',
       'MACD_Hist', 'ATR', 'STOCH_K', 'STOCH_D', 'OBV'],
      dtype='object', name='Price')

C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['RSI'] = talib.RSI(ticker_df['Close'], timeperiod=14)
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['MACD'] = macd
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['MACD_Signal'] = macdsignal
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['MACD_Hist'] = macdhist
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['ATR'] = talib.ATR(ticker_df['High'], ticker_df['Low'], ticker_df['Close'], timeperiod=14)
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['STOCH_K'] = stoch_k
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['STOCH_D'] = stoch_d
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['OBV'] = talib.OBV(ticker_df['Close'], ticker_df['Volume'])
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['RSI'] = talib.RSI(ticker_df['Close'], timeperiod=14)
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['MACD'] = macd
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['MACD_Signal'] = macdsignal
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['MACD_Hist'] = macdhist
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['ATR'] = talib.ATR(ticker_df['High'], ticker_df['Low'], ticker_df['Close'], timeperiod=14)
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['STOCH_K'] = stoch_k
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['STOCH_D'] = stoch_d
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['OBV'] = talib.OBV(ticker_df['Close'], ticker_df['Volume'])
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['RSI'] = talib.RSI(ticker_df['Close'], timeperiod=14)
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['MACD'] = macd
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['MACD_Signal'] = macdsignal
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['MACD_Hist'] = macdhist
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['ATR'] = talib.ATR(ticker_df['High'], ticker_df['Low'], ticker_df['Close'], timeperiod=14)
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['STOCH_K'] = stoch_k
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['STOCH_D'] = stoch_d
C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1235773590.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ticker_df['OBV'] = talib.OBV(ticker_df['Close'], ticker_df['Volume'])

# 기업 평가 지표

In [9]:
import yfinance as yf
import pandas as pd

def calculate_valuation_metrics(ticker_symbol: str):
    """
    Downloads stock price and financial statement data to calculate PER and PBR.

    Args:
        ticker_symbol (str): The stock ticker symbol (e.g., 'AAPL', 'GOOG').
    """
    try:
        # Get the Ticker object for the specified stock
        ticker = yf.Ticker(ticker_symbol)

        # ----------------------------------------
        # 1. Get Stock Price (for the 'P' in PER & PBR)
        # ----------------------------------------
        # Get the latest stock price
        # yfinance.Ticker().info can be a bit unreliable and sometimes doesn't return
        # the latest price, so getting it from historical data is often better.
        latest_price_df = yf.download(ticker_symbol, period="1d", progress=False)
        if latest_price_df.empty:
            print(f"Could not download price data for {ticker_symbol}. Exiting.")
            return
        
        # DataFrame이 비어있지 않은지 다시 한번 확인 후 첫 번째 행의 값을 가져옴
        if not latest_price_df.empty:
            # .item()을 사용하여 Series가 아닌 단일 숫자 값으로 명확하게 추출
            latest_price = latest_price_df['Close'].iloc[0].item()
        else:
            print(f"Could not get the latest close price for {ticker_symbol}.")
            return

        print(f"Current stock price for {ticker_symbol}: ${latest_price:.2f}\n")

        # ----------------------------------------
        # 2. Get Financial Data (for 'E' and 'B')
        # Note: yfinance financial data endpoints can be unstable.
        # For a robust solution, consider a dedicated API like Alpha Vantage.
        # ----------------------------------------
        
        # Get the latest quarterly financial statements
        quarterly_financials = ticker.quarterly_income_stmt
        quarterly_balance_sheet = ticker.quarterly_balance_sheet

        if quarterly_financials.empty or quarterly_balance_sheet.empty:
            print(f"Could not retrieve financial statements for {ticker_symbol}.")
            return

        # Get the latest reported earnings (for E in PER)
        # Sum of the last four quarters' earnings (LTM: Last Twelve Months)
        latest_earnings = quarterly_financials.loc['Net Income'].head(4).sum()
        
        # Get the latest reported book value (for B in PBR)
        # Book Value is Total Assets - Total Liabilities
        # Total equity is a good proxy if available, but let's calculate it directly
        latest_assets = quarterly_balance_sheet.loc['Total Assets'].iloc[0]
        latest_liabilities = quarterly_balance_sheet.loc['Total Liabilities'].iloc[0]
        book_value = latest_assets - latest_liabilities
        
        # Get shares outstanding
        shares_outstanding = ticker.info.get('sharesOutstanding')
        if not shares_outstanding:
            print("Could not retrieve shares outstanding. Exiting.")
            return

        print("Latest Financial Data:")
        print(f"  Net Income (LTM): ${latest_earnings:,.2f}")
        print(f"  Book Value: ${book_value:,.2f}")
        print(f"  Shares Outstanding: {shares_outstanding:,}")

        # ----------------------------------------
        # 3. Calculate PER & PBR
        # ----------------------------------------
        
        # Calculate EPS (Earnings Per Share)
        eps = latest_earnings / shares_outstanding
        
        # Calculate BPS (Book Value Per Share)
        bps = book_value / shares_outstanding
        
        # Calculate PER & PBR
        per = latest_price / eps if eps != 0 else float('inf')
        pbr = latest_price / bps if bps != 0 else float('inf')
        
        print("\nCalculated Valuation Metrics:")
        print(f"  PER (Price-to-Earnings Ratio): {per:.2f}x")
        print(f"  PBR (Price-to-Book Ratio): {pbr:.2f}x")

    except Exception as e:
        print(f"An error occurred: {e}")

# Run the function for a sample stock
if __name__ == "__main__":
    calculate_valuation_metrics("AAPL")

C:\Users\fzaca\AppData\Local\Temp\ipykernel_31808\1150098023.py:21: FutureWarning: YF.download() has changed argument auto_adjust default to True
  latest_price_df = yf.download(ticker_symbol, period="1d", progress=False)

Current stock price for AAPL: $234.35

An error occurred: 'Total Liabilities'

In [13]:
ticker = yf.Ticker("AAPL")
ticker.quarterly_balance_sheet

,2025-06-30,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2023-12-31
Treasury Shares Number,NaN,NaN,NaN,NaN,NaN,0.0
Ordinary Shares Number,1.485672e+10,1.493932e+10,1.503787e+10,1.511679e+10,1.522226e+10,NaN
Share Issued,1.485672e+10,1.493932e+10,1.503787e+10,1.511679e+10,1.522226e+10,NaN
Net Debt,6.542900e+10,7.002400e+10,6.650000e+10,7.668600e+10,7.573900e+10,NaN
Total Debt,1.016980e+11,9.818600e+10,9.679900e+10,1.066290e+11,1.013040e+11,NaN
...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,5.537200e+10,4.849800e+10,5.377500e+10,6.517100e+10,6.180100e+10,NaN
Other Short Term Investments,1.910300e+10,2.033600e+10,2.347600e+10,3.522800e+10,3.623600e+10,NaN
Cash And Cash Equivalents,3.626900e+10,2.816200e+10,3.029900e+10,2.994300e+10,2.556500e+10,NaN
Cash Equivalents,9.583000e+09,3.101000e+09,3.226000e+09,2.744000e+09,2.699000e+09,NaN
Cash Financial,2.668600e+10,2.506100e+10,2.707300e+10,2.719900e+10,2.286600e+10,NaN

# 연습장

In [ ]:
# 효율적인 방법 2: 기존 DataFrame에 merge 사용
print("=== 방법 2: 기존 DataFrame과 merge ===")

# 기존 stock_df가 있다고 가정하고, 새로운 정보를 merge
if 'stock_df' in locals():
    # yfinance 데이터를 DataFrame으로 변환
    yfinance_df = pd.DataFrame(stock_data_list)
    
    # 기존 DataFrame과 merge
    stock_df_merged = stock_df.merge(
        yfinance_df, 
        on='ticker', 
        how='left',
        suffixes=('_original', '_yfinance')
    )
    
    print(f"Merge 결과 크기: {stock_df_merged.shape}")
    print(stock_df_merged.head())
else:
    print("stock_df가 정의되지 않아 merge를 건너뜁니다.")

In [ ]:
# 효율적인 방법 3: Dictionary comprehension + DataFrame 생성
print("=== 방법 3: Dictionary comprehension 사용 ===")

# 더 간결한 방식
def extract_ticker_info(symbol, ticker_obj):
    """안전하게 ticker 정보를 추출하는 함수"""
    try:
        info = ticker_obj.info
        return {
            'ticker': symbol,
            'security': info.get('longName'),
            'sector': info.get('sector'),
            'industry': info.get('industry'),
            'city': info.get('city'),
            'ipo': info.get('firstTradeDateMilliseconds')
        }
    except:
        return {
            'ticker': symbol,
            'security': None,
            'sector': None,
            'industry': None,
            'city': None,
            'ipo': None
        }

# Dictionary comprehension 사용
stock_data_dict = {
    symbol: extract_ticker_info(symbol, ticker_obj) 
    for symbol, ticker_obj in tickers.tickers.items()
}

# DataFrame으로 변환 (transpose 사용)
stock_df_dict = pd.DataFrame.from_dict(stock_data_dict, orient='index')
print(f"Dictionary 방식 결과 크기: {stock_df_dict.shape}")
print(stock_df_dict.head())

In [ ]:
# firstTradeDateMilliseconds 변환 방법들
import pandas as pd
from datetime import datetime

print("=== firstTradeDateMilliseconds 변환 방법 ===")

# 예시 값 (Apple의 실제 값)
example_timestamp = 345479400000  # Apple의 firstTradeDateMilliseconds

print(f"원본 값: {example_timestamp}")
print()

# 방법 1: pandas to_datetime 사용 (추천)
print("1. pandas.to_datetime 사용 (추천):")
date_pd = pd.to_datetime(example_timestamp, unit='ms')
print(f"   결과: {date_pd}")
print(f"   날짜만: {date_pd.date()}")
print(f"   문자열: {date_pd.strftime('%Y-%m-%d')}")
print()

# 방법 2: datetime.fromtimestamp 사용
print("2. datetime.fromtimestamp 사용:")
date_dt = datetime.fromtimestamp(example_timestamp / 1000)  # 초 단위로 변환
print(f"   결과: {date_dt}")
print(f"   날짜만: {date_dt.date()}")
print(f"   문자열: {date_dt.strftime('%Y-%m-%d')}")
print()

# 방법 3: None 값 처리가 포함된 안전한 변환 함수
print("3. None 값 처리 포함 안전한 변환:")
def convert_timestamp_to_date(timestamp_ms):
    """밀리초 timestamp를 날짜 문자열로 변환 (None 값 처리 포함)"""
    if timestamp_ms is None or pd.isna(timestamp_ms):
        return None
    try:
        return pd.to_datetime(timestamp_ms, unit='ms').strftime('%Y-%m-%d')
    except:
        return None

# 테스트
test_values = [example_timestamp, None, 'invalid', 0]
for val in test_values:
    result = convert_timestamp_to_date(val)
    print(f"   {val} → {result}")

print()
print("4. DataFrame에 적용하는 방법:")
print("# 단순 변환")
print("df['ipo_date'] = pd.to_datetime(df['ipo'], unit='ms')")
print()
print("# 안전한 변환 (에러 무시)")
print("df['ipo_date'] = pd.to_datetime(df['ipo'], unit='ms', errors='coerce')")
print()
print("# 날짜 문자열로 변환")
print("df['ipo_date'] = pd.to_datetime(df['ipo'], unit='ms', errors='coerce').dt.strftime('%Y-%m-%d')")

In [ ]:
# 실제 데이터에 적용하기
print("=== 개선된 효율적인 yfinance 데이터 수집 (날짜 변환 포함) ===")

def extract_ticker_info_with_date(symbol, ticker_obj):
    """ticker 정보를 추출하고 날짜 변환까지 포함하는 함수"""
    try:
        info = ticker_obj.info
        
        # firstTradeDateMilliseconds를 날짜로 변환
        ipo_timestamp = info.get('firstTradeDateMilliseconds')
        ipo_date = None
        if ipo_timestamp:
            try:
                ipo_date = pd.to_datetime(ipo_timestamp, unit='ms').strftime('%Y-%m-%d')
            except:
                ipo_date = None
        
        return {
            'ticker': symbol,
            'security': info.get('longName'),
            'sector': info.get('sector'),
            'industry': info.get('industry'),
            'city': info.get('city'),
            'ipo_timestamp': ipo_timestamp,  # 원본 값도 보관
            'ipo_date': ipo_date  # 변환된 날짜
        }
    except Exception as e:
        print(f"Error for {symbol}: {e}")
        return {
            'ticker': symbol,
            'security': None,
            'sector': None,
            'industry': None,
            'city': None,
            'ipo_timestamp': None,
            'ipo_date': None
        }

# 첫 5개 ticker만 테스트
if 'tickers' in locals():
    sample_tickers = dict(list(tickers.tickers.items())[:5])
    
    # 데이터 수집
    sample_data = []
    for symbol, ticker_obj in sample_tickers.items():
        data = extract_ticker_info_with_date(symbol, ticker_obj)
        sample_data.append(data)
    
    # DataFrame 생성
    sample_df = pd.DataFrame(sample_data)
    print("샘플 결과:")
    print(sample_df)
    
    # 날짜 변환 결과 확인
    print("\n날짜 변환 결과:")
    for _, row in sample_df.iterrows():
        if row['ipo_timestamp']:
            print(f"{row['ticker']}: {row['ipo_timestamp']} → {row['ipo_date']}")
else:
    print("tickers 객체가 정의되지 않았습니다.")

In [31]:
# DataFrame 전체에서 timestamp 컬럼을 날짜로 변환하는 방법
print("=== DataFrame 전체 변환 방법 ===")

# 가상의 DataFrame 생성 (예시)
example_data = {
    'ticker': ['AAPL', 'GOOGL', 'MSFT'],
    'ipo': [345479400000, 1092922200000, 511286400000]
}
example_df = pd.DataFrame(example_data)

print("변환 전:")
print(example_df)
print()

# 방법 1: 가장 간단한 방법
example_df['ipo_date'] = pd.to_datetime(example_df['ipo'], unit='ms', errors='coerce')
print("방법 1 - datetime 형태:")
print(example_df)
print()

# 방법 2: 문자열 형태로 변환
example_df['ipo_date_str'] = pd.to_datetime(example_df['ipo'], unit='ms', errors='coerce').dt.strftime('%Y-%m-%d')
print("방법 2 - 문자열 형태:")
print(example_df)
print()

# 방법 3: apply 함수 사용 (더 복잡한 로직이 필요한 경우)
def safe_timestamp_convert(timestamp):
    if pd.isna(timestamp) or timestamp is None:
        return None
    try:
        return pd.to_datetime(timestamp, unit='ms').strftime('%Y-%m-%d')
    except:
        return None

example_df['ipo_date_safe'] = example_df['ipo'].apply(safe_timestamp_convert)
print("방법 3 - apply 함수 사용:")
print(example_df)

print("\n=== 추천 코드 ===")
print("# 가장 간단하고 효율적인 방법:")
print("df['ipo_date'] = pd.to_datetime(df['ipo'], unit='ms', errors='coerce').dt.strftime('%Y-%m-%d')")
print("# errors='coerce' 옵션으로 변환 실패시 NaT(Not a Time)로 변환")

=== DataFrame 전체 변환 방법 ===
변환 전:
  ticker            ipo
0   AAPL   345479400000
1  GOOGL  1092922200000
2   MSFT   511286400000

방법 1 - datetime 형태:
  ticker            ipo            ipo_date
0   AAPL   345479400000 1980-12-12 14:30:00
1  GOOGL  1092922200000 2004-08-19 13:30:00
2   MSFT   511286400000 1986-03-15 16:00:00

방법 2 - 문자열 형태:
  ticker            ipo            ipo_date ipo_date_str
0   AAPL   345479400000 1980-12-12 14:30:00   1980-12-12
1  GOOGL  1092922200000 2004-08-19 13:30:00   2004-08-19
2   MSFT   511286400000 1986-03-15 16:00:00   1986-03-15

방법 3 - apply 함수 사용:
  ticker            ipo            ipo_date ipo_date_str ipo_date_safe
0   AAPL   345479400000 1980-12-12 14:30:00   1980-12-12    1980-12-12
1  GOOGL  1092922200000 2004-08-19 13:30:00   2004-08-19    2004-08-19
2   MSFT   511286400000 1986-03-15 16:00:00   1986-03-15    1986-03-15

=== 추천 코드 ===
# 가장 간단하고 효율적인 방법:
df['ipo_date'] = pd.to_datetime(df['ipo'], unit='ms', errors='coerce').dt.strftime('%Y-%m-%d')
# errors='coerce' 옵션으로 변환 실패시 NaT(Not a Time)로 변환

In [37]:
import requests
import json
import pandas as pd
from datetime import datetime

def get_cpi_data(api_key, series_id, start_year, end_year):
    """
    BLS API를 사용하여 특정 기간의 CPI 데이터를 가져옵니다.
    """
    headers = {'Content-type': 'application/json'}
    data = json.dumps({
        "seriesid": [series_id],
        "startyear": str(start_year),
        "endyear": str(end_year),
        "registrationkey": api_key,
        "catalog": True,
        "annualaverage": True
    })
    
    url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'
    response = requests.post(url, data=data, headers=headers)
    
    if response.status_code == 200:
        json_data = json.loads(response.text)
        return json_data
    else:
        print(f"Error fetching data: {response.status_code}")
        print(response.text)
        return None

def fetch_all_cpi_data(api_key, series_id):
    """
    최대 기간의 CPI 데이터를 여러 번 요청하여 모두 가져옵니다.
    """
    current_year = datetime.now().year
    
    # BLS API는 최대 20년씩만 요청 가능
    chunks = range(1947, current_year + 1, 20)
    
    all_data = []
    
    print("CPI 데이터를 다운로드 중입니다...")
    
    for start_year in chunks:
        end_year = start_year + 19
        if end_year > current_year:
            end_year = current_year
        
        print(f"  - {start_year}년부터 {end_year}년까지 데이터 요청...")
        
        data = get_cpi_data(api_key, series_id, start_year, end_year)
        
        if data and 'Results' in data and data['Results']['series']:
            for series in data['Results']['series']:
                all_data.extend(series['data'])
    
    if not all_data:
        print("데이터를 가져오지 못했습니다. API 키 또는 시리즈 ID를 확인하세요.")
        return pd.DataFrame()

    print("데이터 다운로드 완료. 데이터프레임으로 변환 중...")
    
    # Pandas DataFrame으로 변환
    df = pd.DataFrame(all_data)
    df['period_name'] = df['periodName'] + ' ' + df['year']
    
    # 필요한 컬럼만 선택
    df = df[['period_name', 'value']]
    df = df.rename(columns={'value': 'CPI', 'period_name': 'Date'})
    df = df.sort_values(by='Date')
    
    return df

# 사용 방법:
# 1. BLS 개발자 사이트에서 발급받은 API 키를 여기에 입력하세요.
YOUR_API_KEY = "8dffab6513cc41d9b47b179338da511c"

# 2. 원하는 CPI 시리즈 ID를 여기에 입력하세요.
#    'CUUR0000SA0'는 가장 일반적인 미국 전체 도시 소비자 CPI입니다.
#    다른 ID는 BLS 웹사이트에서 검색 가능합니다.
CPI_SERIES_ID = "CUUR0000SA0"

# 데이터 가져오기
cpi_df = fetch_all_cpi_data(YOUR_API_KEY, CPI_SERIES_ID)

if not cpi_df.empty:
    print("\n최종 데이터프레임:")
    print(cpi_df.head())
    print(cpi_df.tail())
    print("\n총 데이터 개수:", len(cpi_df))

CPI 데이터를 다운로드 중입니다...
  - 1947년부터 1966년까지 데이터 요청...
  - 1967년부터 1986년까지 데이터 요청...
  - 1987년부터 2006년까지 데이터 요청...
  - 2007년부터 2025년까지 데이터 요청...
데이터 다운로드 완료. 데이터프레임으로 변환 중...

최종 데이터프레임:
            Date   CPI
247  Annual 1947  22.3
234  Annual 1948  24.1
221  Annual 1949  23.8
208  Annual 1950  24.1
195  Annual 1951  26.0
               Date      CPI
843  September 2020  260.280
830  September 2021  274.310
817  September 2022  296.808
804  September 2023  307.789
791  September 2024  315.301

총 데이터 개수: 1021

In [ ]:

stock_df_efficient['ipo_date'] = pd.to_datetime(stock_df_efficient['ipo'], unit='ms', errors='coerce')
print(f"생성된 데이터프레임 크기: {stock_df_efficient.shape}")

cpi_df['cpi_date'] = pd.to_datetime(cpi_df['Date'], unit)

               Date      CPI
247     Annual 1947     22.3
234     Annual 1948     24.1
221     Annual 1949     23.8
208     Annual 1950     24.1
195     Annual 1951     26.0
..              ...      ...
843  September 2020  260.280
830  September 2021  274.310
817  September 2022  296.808
804  September 2023  307.789
791  September 2024  315.301

[1021 rows x 2 columns]

In [43]:
cpi_df[80:120]

           Date    CPI
230  April 1949   23.9
217  April 1950   23.6
204  April 1951   25.8
191  April 1952   26.4
178  April 1953   26.6
165  April 1954   26.8
152  April 1955   26.7
139  April 1956   26.9
126  April 1957   27.9
113  April 1958   28.9
100  April 1959   29.0
87   April 1960   29.5
74   April 1961   29.8
61   April 1962   30.2
48   April 1963   30.5
35   April 1964   30.9
22   April 1965   31.4
9    April 1966   32.3
516  April 1967   33.1
503  April 1968   34.4
490  April 1969   36.3
477  April 1970   38.5
464  April 1971   40.1
451  April 1972   41.5
438  April 1973   43.6
425  April 1974   48.0
412  April 1975   52.9
399  April 1976   56.1
386  April 1977   60.0
373  April 1978   63.9
360  April 1979   70.6
347  April 1980   81.0
334  April 1981   89.1
321  April 1982   94.9
308  April 1983   98.6
295  April 1984  103.1
282  April 1985  106.9
269  April 1986  108.6
776  April 1987  112.7
763  April 1988  117.1