In [6]:
import requests

API_KEY = "undefined"
symbol = "TSLA"
interval = "15min" # 1min, 5min, 15min, 30min, 60min 중 선택

url = f"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={symbol}&interval={interval}&apikey={API_KEY}"
response = requests.get(url)
data = response.json()

print(data)

{'Meta Data': {'1. Information': 'Intraday (15min) open, high, low, close prices and volume', '2. Symbol': 'TSLA', '3. Last Refreshed': '2025-09-10 19:45:00', '4. Interval': '15min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (15min)': {'2025-09-10 19:45:00': {'1. open': '349.1900', '2. high': '349.3000', '3. low': '349.0000', '4. close': '349.2100', '5. volume': '44772'}, '2025-09-10 19:30:00': {'1. open': '349.3000', '2. high': '349.3000', '3. low': '349.1500', '4. close': '349.1750', '5. volume': '13114'}, '2025-09-10 19:15:00': {'1. open': '349.0800', '2. high': '349.3000', '3. low': '348.9500', '4. close': '349.2000', '5. volume': '20823'}, '2025-09-10 19:00:00': {'1. open': '349.3450', '2. high': '349.4950', '3. low': '348.9500', '4. close': '348.9500', '5. volume': '31534'}, '2025-09-10 18:45:00': {'1. open': '349.0000', '2. high': '349.4400', '3. low': '348.6800', '4. close': '349.3300', '5. volume': '36370'}, '2025-09-10 18:30:00': {'1. open': '348.4200', '2. high': '349.0000', '3. low': '348.3500', '4. close': '348.9500', '5. volume': '26744'}, '2025-09-10 18:15:00': {'1. open': '348.4050', '2. high': '348.5000', '3. low': '348.3000', '4. close': '348.4100', '5. volume': '13698'}, '2025-09-10 18:00:00': {'1. open': '348.3200', '2. high': '348.5000', '3. low': '348.3000', '4. close': '348.4800', '5. volume': '19182'}, '2025-09-10 17:45:00': {'1. open': '348.0800', '2. high': '348.4000', '3. low': '348.0700', '4. close': '348.3550', '5. volume': '24370'}, '2025-09-10 17:30:00': {'1. open': '348.1300', '2. high': '348.2800', '3. low': '348.0000', '4. close': '348.0712', '5. volume': '17595'}, '2025-09-10 17:15:00': {'1. open': '348.3750', '2. high': '349.9776', '3. low': '325.6873', '4. close': '348.1300', '5. volume': '22997'}, '2025-09-10 17:00:00': {'1. open': '348.2000', '2. high': '348.4000', '3. low': '325.6873', '4. close': '348.3750', '5. volume': '33558'}, '2025-09-10 16:45:00': {'1. open': '348.3000', '2. high': '362.2289', '3. low': '332.8572', '4. close': '348.2000', '5. volume': '40247'}, '2025-09-10 16:30:00': {'1. open': '347.9700', '2. high': '362.2289', '3. low': '347.7900', '4. close': '348.2800', '5. volume': '66804'}, '2025-09-10 16:15:00': {'1. open': '347.6900', '2. high': '348.0000', '3. low': '347.6000', '4. close': '347.8200', '5. volume': '113717'}, '2025-09-10 16:00:00': {'1. open': '347.7900', '2. high': '348.1200', '3. low': '347.0000', '4. close': '347.7000', '5. volume': '4816523'}, '2025-09-10 15:45:00': {'1. open': '349.4320', '2. high': '350.2600', '3. low': '347.6200', '4. close': '347.7900', '5. volume': '4093759'}, '2025-09-10 15:30:00': {'1. open': '347.4800', '2. high': '349.5000', '3. low': '347.3900', '4. close': '349.4700', '5. volume': '2624351'}, '2025-09-10 15:15:00': {'1. open': '348.0900', '2. high': '348.5499', '3. low': '347.1600', '4. close': '347.4500', '5. volume': '3006864'}, '2025-09-10 15:00:00': {'1. open': '351.3050', '2. high': '351.5700', '3. low': '347.9900', '4. close': '348.0716', '5. volume': '2915419'}, '2025-09-10 14:45:00': {'1. open': '352.7068', '2. high': '352.9600', '3. low': '351.0000', '4. close': '351.3099', '5. volume': '2194489'}, '2025-09-10 14:30:00': {'1. open': '353.6399', '2. high': '354.4432', '3. low': '352.5701', '4. close': '352.7200', '5. volume': '1619518'}, '2025-09-10 14:15:00': {'1. open': '354.1900', '2. high': '354.2700', '3. low': '353.2100', '4. close': '353.6542', '5. volume': '1531994'}, '2025-09-10 14:00:00': {'1. open': '354.6600', '2. high': '354.8780', '3. low': '353.7700', '4. close': '354.1900', '5. volume': '1293404'}, '2025-09-10 13:45:00': {'1. open': '354.9600', '2. high': '356.2800', '3. low': '354.3346', '4. close': '354.6700', '5. volume': '2224136'}, '2025-09-10 13:30:00': {'1. open': '354.2900', '2. high': '355.1000', '3. low': '353.8401', '4. close': '354.9700', '5. volume': '1347751'}, '2025-09-10 13:15:00': {'1. open': '354.7600', '2. high': '354.9000', '3. low': '354.1000', '4. close': '354.2600', '5. volume': '1017109'}, '2025-09-10 13:00:00': {'1. open': '354.2700', '2. high': '355.3815', '3. low': '354.1200', '4. close': '354.7500', '5. volume': '1740402'}, '2025-09-10 12:45:00': {'1. open': '352.7550', '2. high': '354.3000', '3. low': '352.7200', '4. close': '354.2300', '5. volume': '1668477'}, '2025-09-10 12:30:00': {'1. open': '354.2400', '2. high': '354.6900', '3. low': '352.6900', '4. close': '352.7300', '5. volume': '1589950'}, '2025-09-10 12:15:00': {'1. open': '354.2855', '2. high': '354.8500', '3. low': '353.5100', '4. close': '354.2330', '5. volume': '1568904'}, '2025-09-10 12:00:00': {'1. open': '354.8773', '2. high': '355.0859', '3. low': '354.0100', '4. close': '354.2950', '5. volume': '1385790'}, '2025-09-10 11:45:00': {'1. open': '355.1500', '2. high': '355.8000', '3. low': '354.5401', '4. close': '354.8500', '5. volume': '1805154'}, '2025-09-10 11:30:00': {'1. open': '354.7200', '2. high': '355.1799', '3. low': '353.5000', '4. close': '355.1500', '5. volume': '2119953'}, '2025-09-10 11:15:00': {'1. open': '356.0200', '2. high': '356.3300', '3. low': '354.0200', '4. close': '354.6703', '5. volume': '2902675'}, '2025-09-10 11:00:00': {'1. open': '355.4200', '2. high': '356.0600', '3. low': '354.0502', '4. close': '356.0200', '5. volume': '4284119'}, '2025-09-10 10:45:00': {'1. open': '351.9790', '2. high': '355.5000', '3. low': '351.4500', '4. close': '355.3900', '5. volume': '5379264'}, '2025-09-10 10:30:00': {'1. open': '349.1300', '2. high': '351.9900', '3. low': '349.0700', '4. close': '351.9650', '5. volume': '2996780'}, '2025-09-10 10:15:00': {'1. open': '349.1700', '2. high': '350.5700', '3. low': '348.8500', '4. close': '349.1600', '5. volume': '2315394'}, '2025-09-10 10:00:00': {'1. open': '347.7200', '2. high': '351.4299', '3. low': '347.6000', '4. close': '349.1250', '5. volume': '3865222'}, '2025-09-10 09:45:00': {'1. open': '346.9400', '2. high': '349.2000', '3. low': '346.2000', '4. close': '347.7200', '5. volume': '3483939'}, '2025-09-10 09:30:00': {'1. open': '350.5500', '2. high': '352.2000', '3. low': '346.0700', '4. close': '346.8801', '5. volume': '6226612'}, '2025-09-10 09:15:00': {'1. open': '351.1800', '2. high': '351.4997', '3. low': '346.9700', '4. close': '350.4000', '5. volume': '193966'}, '2025-09-10 09:00:00': {'1. open': '350.8800', '2. high': '351.3000', '3. low': '346.9700', '4. close': '351.1800', '5. volume': '160539'}, '2025-09-10 08:45:00': {'1. open': '350.2600', '2. high': '351.4200', '3. low': '350.1400', '4. close': '350.8900', '5. volume': '245526'}, '2025-09-10 08:30:00': {'1. open': '348.7100', '2. high': '350.5000', '3. low': '348.6600', '4. close': '350.2400', '5. volume': '356955'}, '2025-09-10 08:15:00': {'1. open': '348.6700', '2. high': '349.1600', '3. low': '348.6100', '4. close': '348.7700', '5. volume': '76314'}, '2025-09-10 08:00:00': {'1. open': '348.6000', '2. high': '349.4000', '3. low': '346.9700', '4. close': '348.6120', '5. volume': '250797'}, '2025-09-10 07:45:00': {'1. open': '348.4100', '2. high': '348.6400', '3. low': '348.3100', '4. close': '348.4700', '5. volume': '19899'}, '2025-09-10 07:30:00': {'1. open': '348.2500', '2. high': '348.5000', '3. low': '348.2000', '4. close': '348.4400', '5. volume': '13602'}, '2025-09-10 07:15:00': {'1. open': '348.4900', '2. high': '348.5400', '3. low': '348.1100', '4. close': '348.2500', '5. volume': '16882'}, '2025-09-10 07:00:00': {'1. open': '348.7100', '2. high': '348.8100', '3. low': '348.1500', '4. close': '348.4800', '5. volume': '38319'}, '2025-09-10 06:45:00': {'1. open': '348.8400', '2. high': '348.8700', '3. low': '348.5700', '4. close': '348.7000', '5. volume': '12801'}, '2025-09-10 06:30:00': {'1. open': '348.6800', '2. high': '348.8800', '3. low': '348.5000', '4. close': '348.8400', '5. volume': '11934'}, '2025-09-10 06:15:00': {'1. open': '348.7500', '2. high': '348.8400', '3. low': '348.4200', '4. close': '348.7300', '5. volume': '10553'}, '2025-09-10 06:00:00': {'1. open': '348.6900', '2. high': '348.7900', '3. low': '348.4600', '4. close': '348.7800', '5. volume': '11024'}, '2025-09-10 05:45:00': {'1. open': '348.2700', '2. high': '348.7500', '3. low': '348.2700', '4. close': '348.6700', '5. volume': '12838'}, '2025-09-10 05:30:00': {'1. open': '348.2000', '2. high': '348.2800', '3. low': '348.0300', '4. close': '348.2300', '5. volume': '12044'}, '2025-09-10 05:15:00': {'1. open': '348.2500', '2. high': '348.5300', '3. low': '348.1800', '4. close': '348.1800', '5. volume': '11437'}, '2025-09-10 05:00:00': {'1. open': '348.7200', '2. high': '348.8400', '3. low': '347.9200', '4. close': '348.2900', '5. volume': '24638'}, '2025-09-10 04:45:00': {'1. open': '348.6900', '2. high': '348.8100', '3. low': '348.4100', '4. close': '348.7800', '5. volume': '13635'}, '2025-09-10 04:30:00': {'1. open': '348.6300', '2. high': '348.9900', '3. low': '348.3600', '4. close': '348.7500', '5. volume': '23792'}, '2025-09-10 04:15:00': {'1. open': '349.0600', '2. high': '349.0600', '3. low': '348.1700', '4. close': '348.5800', '5. volume': '28994'}, '2025-09-10 04:00:00': {'1. open': '348.1000', '2. high': '349.3700', '3. low': '347.4500', '4. close': '349.0500', '5. volume': '66219'}, '2025-09-09 19:45:00': {'1. open': '347.2300', '2. high': '347.2600', '3. low': '347.0000', '4. close': '347.0200', '5. volume': '38341'}, '2025-09-09 19:30:00': {'1. open': '347.2500', '2. high': '347.2500', '3. low': '347.0000', '4. close': '347.2200', '5. volume': '12530'}, '2025-09-09 19:15:00': {'1. open': '347.3500', '2. high': '347.4000', '3. low': '347.0400', '4. close': '347.2400', '5. volume': '15561'}, '2025-09-09 19:00:00': {'1. open': '347.4000', '2. high': '347.4500', '3. low': '347.2300', '4. close': '347.2600', '5. volume': '15177'}, '2025-09-09 18:45:00': {'1. open': '347.2700', '2. high': '347.4200', '3. low': '347.1600', '4. close': '347.3700', '5. volume': '17993'}, '2025-09-09 18:30:00': {'1. open': '347.1000', '2. high': '347.4000', '3. low': '347.0000', '4. close': '347.2700', '5. volume': '14476'}, '2025-09-09 18:15:00': {'1. open': '347.1000', '2. high': '347.1600', '3. low': '347.0000', '4. close': '347.0992', '5. volume': '11569'}, '2025-09-09 18:00:00': {'1. open': '347.3700', '2. high': '347.4200', '3. low': '347.0000', '4. close': '347.1600', '5. volume': '19425'}, '2025-09-09 17:45:00': {'1. open': '347.2800', '2. high': '347.5000', '3. low': '347.2700', '4. close': '347.4000', '5. volume': '16373'}, '2025-09-09 17:30:00': {'1. open': '347.2750', '2. high': '347.3500', '3. low': '347.1600', '4. close': '347.2800', '5. volume': '18823'}, '2025-09-09 17:15:00': {'1. open': '347.2500', '2. high': '347.3500', '3. low': '321.3682', '4. close': '347.3500', '5. volume': '19142'}, '2025-09-09 17:00:00': {'1. open': '346.9800', '2. high': '347.2900', '3. low': '329.7600', '4. close': '347.1500', '5. volume': '30783'}, '2025-09-09 16:45:00': {'1. open': '347.1350', '2. high': '370.5184', '3. low': '329.5013', '4. close': '346.9500', '5. volume': '50578'}, '2025-09-09 16:30:00': {'1. open': '347.3500', '2. high': '357.2380', '3. low': '346.1580', '4. close': '347.1350', '5. volume': '47935'}, '2025-09-09 16:15:00': {'1. open': '346.9700', '2. high': '347.6000', '3. low': '346.9400', '4. close': '347.3000', '5. volume': '82192'}, '2025-09-09 16:00:00': {'1. open': '347.0400', '2. high': '347.1900', '3. low': '346.5100', '4. close': '347.0200', '5. volume': '2464917'}, '2025-09-09 15:45:00': {'1. open': '346.5500', '2. high': '347.2000', '3. low': '346.3200', '4. close': '347.0400', '5. volume': '2970663'}, '2025-09-09 15:30:00': {'1. open': '346.3600', '2. high': '346.7300', '3. low': '346.0800', '4. close': '346.5700', '5. volume': '1210989'}, '2025-09-09 15:15:00': {'1. open': '346.1832', '2. high': '346.8400', '3. low': '346.1832', '4. close': '346.3500', '5. volume': '1092131'}, '2025-09-09 15:00:00': {'1. open': '346.8500', '2. high': '347.1560', '3. low': '345.7000', '4. close': '346.1999', '5. volume': '2388037'}, '2025-09-09 14:45:00': {'1. open': '346.3800', '2. high': '347.0000', '3. low': '346.3768', '4. close': '346.8201', '5. volume': '898397'}, '2025-09-09 14:30:00': {'1. open': '346.6000', '2. high': '346.7600', '3. low': '346.0200', '4. close': '346.3800', '5. volume': '949573'}, '2025-09-09 14:15:00': {'1. open': '346.6503', '2. high': '346.9800', '3. low': '346.2700', '4. close': '346.5850', '5. volume': '852673'}, '2025-09-09 14:00:00': {'1. open': '347.3000', '2. high': '347.4399', '3. low': '345.9500', '4. close': '346.6600', '5. volume': '1258488'}, '2025-09-09 13:45:00': {'1. open': '346.7500', '2. high': '347.8400', '3. low': '346.5117', '4. close': '347.2798', '5. volume': '1058458'}, '2025-09-09 13:30:00': {'1. open': '346.9300', '2. high': '347.1800', '3. low': '346.5353', '4. close': '346.8000', '5. volume': '909702'}, '2025-09-09 13:15:00': {'1. open': '346.9300', '2. high': '347.6200', '3. low': '346.7503', '4. close': '346.8943', '5. volume': '1059423'}, '2025-09-09 13:00:00': {'1. open': '346.2880', '2. high': '347.4299', '3. low': '346.2389', '4. close': '346.9200', '5. volume': '1208147'}, '2025-09-09 12:45:00': {'1. open': '347.2900', '2. high': '347.8610', '3. low': '346.1900', '4. close': '346.2506', '5. volume': '1399814'}, '2025-09-09 12:30:00': {'1. open': '347.6900', '2. high': '348.2000', '3. low': '347.1700', '4. close': '347.2800', '5. volume': '1127582'}, '2025-09-09 12:15:00': {'1. open': '348.3200', '2. high': '348.5000', '3. low': '346.8800', '4. close': '347.6930', '5. volume': '1496382'}, '2025-09-09 12:00:00': {'1. open': '347.7400', '2. high': '348.4699', '3. low': '347.6000', '4. close': '348.2901', '5. volume': '1421044'}, '2025-09-09 11:45:00': {'1. open': '346.3800', '2. high': '347.9400', '3. low': '346.3001', '4. close': '347.7200', '5. volume': '1587872'}, '2025-09-09 11:30:00': {'1. open': '346.3500', '2. high': '347.1537', '3. low': '346.0706', '4. close': '346.4050', '5. volume': '1402254'}, '2025-09-09 11:15:00': {'1. open': '346.4000', '2. high': '347.0440', '3. low': '346.3000', '4. close': '346.3800', '5. volume': '1597680'}, '2025-09-09 11:00:00': {'1. open': '345.8152', '2. high': '346.7300', '3. low': '344.9301', '4. close': '346.4232', '5. volume': '2064741'}}}

In [7]:
import pandas as pd

# JSON 데이터를 DataFrame으로 변환
df = pd.DataFrame.from_dict(data[f'Time Series ({interval})'], orient='index')
df.index = pd.to_datetime(df.index)
df = df.astype(float)
df.columns = ['open', 'high', 'low', 'close', 'volume']
df = df.sort_index()

print(df.head())

                         open      high       low     close     volume
2025-09-09 11:00:00  345.8152  346.7300  344.9301  346.4232  2064741.0
2025-09-09 11:15:00  346.4000  347.0440  346.3000  346.3800  1597680.0
2025-09-09 11:30:00  346.3500  347.1537  346.0706  346.4050  1402254.0
2025-09-09 11:45:00  346.3800  347.9400  346.3001  347.7200  1587872.0
2025-09-09 12:00:00  347.7400  348.4699  347.6000  348.2901  1421044.0

In [8]:
df

                         open      high       low     close     volume
2025-09-09 11:00:00  345.8152  346.7300  344.9301  346.4232  2064741.0
2025-09-09 11:15:00  346.4000  347.0440  346.3000  346.3800  1597680.0
2025-09-09 11:30:00  346.3500  347.1537  346.0706  346.4050  1402254.0
2025-09-09 11:45:00  346.3800  347.9400  346.3001  347.7200  1587872.0
2025-09-09 12:00:00  347.7400  348.4699  347.6000  348.2901  1421044.0
...                       ...       ...       ...       ...        ...
2025-09-10 18:45:00  349.0000  349.4400  348.6800  349.3300    36370.0
2025-09-10 19:00:00  349.3450  349.4950  348.9500  348.9500    31534.0
2025-09-10 19:15:00  349.0800  349.3000  348.9500  349.2000    20823.0
2025-09-10 19:30:00  349.3000  349.3000  349.1500  349.1750    13114.0
2025-09-10 19:45:00  349.1900  349.3000  349.0000  349.2100    44772.0

[100 rows x 5 columns]

In [ ]:

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&outputsize=full&apikey=demo